<a href="https://colab.research.google.com/github/Yunpei24/BigDataBase/blob/main/Programmation_sous_MapReduceTP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction à la programmation distribuée sous <i>MapReduce</i>
L'objet principal de ce notebook est de maîtriser la programmation de traitement distribué sous <b>MapReduce</b>. 
Pour rappel, sous Hadoop, il ne revient pas au programmeur applicatif de mettre en œuvre les mécanismes de réplication, ni de gérer la traçabilité des grains et leur réaffectation. Ces tâches sont de la responsabilité du framework. 

Le programmeur applicatif a néanmoins le rôle de reformuler les algorithmes qu'il souhaite mettre en œuvre sur la plateforme distribuée suivant le mécanisme d’exécution <i>MapReduce</i>, un mécanisme d’exécution très populaire, présent dans plusieurs frameworks distribués.

<i>MapReduce</i> décompose l’ensemble des opérations à réaliser en deux types de tâches <b>élémentaires</b> et <b>uniformes</b>, les <i>Map</i> et les <i>Reduce</i>. Chaque donnée passe d'abord par une tâche <i>Map</i> qui la transforme et éventuellement par une seconde tâche <i>Reduce</i>. 

Aucun ordre d'exécution particulier n'est attendu entre différentes tâches <i>Map</i> ou entre différentes tâches <i>Reduce</i>. Une ou plusieurs tâches <i>Map</i> et/ou <i>Reduce</i> peuvent être facilement assignées à chaque nœud de calcul. Un nœud de calcul peut correspondre à un ordinateur individuel ou à un cœur d'une unité centrale multi-cœur. Dans ce dernier cas, la mémoire vive et le stockage de masse de l’ordinateur sont partagés entre les cœurs.

Le fonctionnement général de MapReduce est constitué des étapes suivantes:
<ol>
<li>L'ensemble de données à traiter est découpé en fragments (<i>chunks</i>).</li>
<li>Chaque tâche <i>Map</i> est assignée à un nœud de calcul qui reçoit un ou plusieurs fragments que la tâche <i>Map</i> transforme en une séquence de paires \[clé, valeur].</li>
<li>Chaque tâche <i>Reduce</i> est associée à une ou plusieurs clés et est assignée à un nœud de calcul.</li>
<li>Les paires (clé, valeur) produites par les <i>Map</i> sont groupées par clés et stockées sur les nœuds de calcul qui exécuteront les tâches <i>Reduce</i> respectives (étape shuffle).</li>
<li>Chaque tâche <i>Reduce</i> combine, pour chaque clé qui lui est associée, les valeurs des paires [clé, valeur] avec cette clé ; les résultats sont stockés et constituent le résultat du traitement.</li>
</ol>

Le programmeur écrit les fonctions <i>Map</i> et <i>Reduce</i>, le framework se charge du reste comme illustré ci-dessous dans le décompte distribué de la fréquence de chaque mot d'un corpus.
<!-- img width="70%" src="https://res.cloudinary.com/talend/image/upload/q_auto,w_923,h_486/resources/seo-articles/seo-what-is-mapreduce_gj9ehi.webp" -->

<img width="70%" src="https://www.nayaa.fr/bigdata/mr-execution-ex.png">

##Installation du Java Development Kit (JDK) 
Hadoop est écrit en Java et nécessite donc l'installation d'exécution de Java.

Installation du JDK

In [39]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Création de la variable d'environnement <JAVA_HOME> pour situer l'emplacement d'installationde Java

In [40]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

# Installation du framework Hadoop

Téléchargement depuis les archives de la fondation Apache

In [41]:
!wget https://archive.apache.org/dist/hadoop/common/hadoop-3.3.0/hadoop-3.3.0.tar.gz

--2023-01-14 10:48:13--  https://archive.apache.org/dist/hadoop/common/hadoop-3.3.0/hadoop-3.3.0.tar.gz
Resolving archive.apache.org (archive.apache.org)... 138.201.131.134, 2a01:4f8:172:2ec5::2
Connecting to archive.apache.org (archive.apache.org)|138.201.131.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 500749234 (478M) [application/x-gzip]
Saving to: ‘hadoop-3.3.0.tar.gz.1’

hadoop-3.3.0.tar.gz 100%[===================>] 477.55M  82.3MB/s    in 6.4s

2023-01-14 10:48:19 (75.0 MB/s) - ‘hadoop-3.3.0.tar.gz.1’ saved [500749234/500749234]

Extraction de l'archive

In [ ]:
!tar -xzvf hadoop-3.3.0.tar.gz

Copie du dossier extrait dans l'emplacement <user/local>

In [43]:
!cp -r hadoop-3.3.0/ /usr/local/

## Programmation de tâches distribuées avec <i>MapReduce</i>

Création d'un repertoire <myinput> pour contenir le jeu de données à tester durant cet exercice e d'un second pour les résultats du traitement distribué

In [44]:
!mkdir -p ~/myinput
!mkdir -p ~/myoutput

Télachargement du jeu de données dans le fichier <u>purchases.txt</u>

In [45]:
!curl -L -o 'purchases.txt' 'https://drive.google.com/u/0/uc?id=1NS-PSXW8bSNpzFH4XRbtmMnMGhXBdYy6&export=download&confirm=t'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  201M  100  201M    0     0   101M      0  0:00:01  0:00:01 --:--:--  176M

Déplacement du fichier <u>purchases.txt</u> dans le répertoire <myinput>

In [46]:
!mv purchases.txt ~/myinput/purchases.txt

Vérification que les fichiers ont été bien copiés

In [47]:
!ls /usr/myinput

ls: cannot access '/usr/myinput': No such file or directory

Affichage des premiers lignes du fichier. Le format des enregistrement est le suivant:
<table border='1'><tr>
<td>Date</td><td>Heure</td><td>Magasin</td><td>Produit</td><td>Montant</td><td>Moyen_de_paiement</td>
</tr></table>
La tabulation <b>\t</b> est utilisée comme séparateur de colonne ✅

In [53]:
!head -20  ~/myinput/purchases.txt

2012-01-01	09:00	San Jose	Men's Clothing	214.05	Amex
2012-01-01	09:00	Fort Worth	Women's Clothing	153.57	Visa
2012-01-01	09:00	San Diego	Music	66.08	Cash
2012-01-01	09:00	Pittsburgh	Pet Supplies	493.51	Discover
2012-01-01	09:00	Omaha	Children's Clothing	235.63	MasterCard
2012-01-01	09:00	Stockton	Men's Clothing	247.18	MasterCard
2012-01-01	09:00	Austin	Cameras	379.6	Visa
2012-01-01	09:00	New York	Consumer Electronics	296.8	Cash
2012-01-01	09:00	Corpus Christi	Toys	25.38	Discover
2012-01-01	09:00	Fort Worth	Toys	213.88	Visa
2012-01-01	09:00	Las Vegas	Video Games	53.26	Visa
2012-01-01	09:00	Newark	Video Games	39.75	Cash
2012-01-01	09:00	Austin	Cameras	469.63	MasterCard
2012-01-01	09:00	Greensboro	DVDs	290.82	MasterCard
2012-01-01	09:00	San Francisco	Music	260.65	Discover
2012-01-01	09:00	Lincoln	Garden	136.9	Visa
2012-01-01	09:00	Buffalo	Women's Clothing	483.82	Visa
2012-01-01	09:00	San Jose	Women's Clothing	215.82	Cash
2012-01-01	09:00	Boston	Cameras	418.94	Amex
2012-01-01	09:00	Houston	Baby	309.16	Visa

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Activité 1

Le travail consiste à utiliser <i>MapReduce</i> avec le langage Python et effectuer un traitement distribué. Notre but est de déterminer le total des achats par magasin en exploitant les données du fichier <purchases.txt>.

Vous devrez implémenter les fonctions <i>Map<i> et <i>Reduce</> du traitement.

Contenu de traitement dans la phase \<map>. <h2>C'est à vous de le faire &#8987;</h2>

In [55]:
#!/usr/bin/python
import sys
# Mettez vos instructions ...
for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) == 6:
    date, time, store, item, amount, payment = data
    print(store, "\t", str(amount))

In [65]:
#@title
#!/usr/bin/python
import sys
# Mettez vos instructions ...
def mapper(file_path):
  fichier = open(file_path, 'r')
  file_line = fichier.readlines()
  fichier.close()
  result = []

  for line in file_line:
    data = line.strip().split("\t")
    if len(data) == 6:
      date, time, store, item, montant, payment = data
      result.append((store, montant))
      #print(store, "\t", str(montant))
  
  return result

Sauvegarde du code de traitement de la phase <map> dans le fichier "/content/map.py"

In [57]:
# All cell codes are stored in a List variable "In"
with open('/content/mapper.py', 'w') as f:
  f.write(In[55]) 
f.close()

Attribution de permission d'accès et d'exécution sur le fichier <mapper.py>

In [58]:
!chmod u+rwx /content/mapper.py

Test du traitement de la phase <map> sur quelques enregistrements

In [59]:
!head -10 ~/myinput/purchases.txt | python3 /content/mapper.py

San Jose 	 214.05
Fort Worth 	 153.57
San Diego 	 66.08
Pittsburgh 	 493.51
Omaha 	 235.63
Stockton 	 247.18
Austin 	 379.6
New York 	 296.8
Corpus Christi 	 25.38
Fort Worth 	 213.88

Contenu de traitement de la phase \<reduce>. <h2>C'est à vous de le faire aussi &#128521;</h2>

In [60]:
#!/usr/bin/python
from operator import itemgetter
import sys
# Mettez vos instructions ...
salesTotal = 0
oldKey = None

for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) != 2:
    continue
  
  thisKey, thisSale = data
  if oldKey and oldKey != thisKey:
    print(oldKey, "\t", str(salesTotal))
    salesTotal = 0
    
  oldKey = thisKey
  salesTotal += float (thisSale)

if oldKey != None:
  print(oldKey, "\t", str(salesTotal))

In [ ]:
#!/usr/bin/python
from operator import itemgetter
import sys
# Mettez vos instructions ...

def reducer(file_path):
  map = mapper(file_path)
  map_new = {}

  for elm in map:
    if elm[0] not in map_new:
      map_new.update({elm[0] : 0})

  for key in map:
    map_new.update({key[0] : float(map_new[key[0]]) + float(key[1])})

  print("Magazin\t\tMontant Total")
  print("##################################")
  print(len(map_new))
  for elm in map_new:
    print(elm, "\t", map_new[elm])


file_path = '/root/myinput/purchases.txt'
reducer(file_path)

Sauvegarde du code de traitement de la phase <reduce> dans le fichier "/content/reduce.py"

In [61]:
# All cell codes are stored in a List variable "In"
with open('/content/reducer.py', 'w') as f:
  f.write(In[60]) 
f.close()

Attribution de permission d'accès et d'exécution sur le fichier <reducer.py>

In [70]:
!chmod u+rwx /content/reducer.py

Test du traitement distribué sur quelques enregistrements

In [ ]:
!head -70000 ~/myinput/purchases.txt | python3 /content/mapper.py | sort | python3 /content/reducer.py

Lancement d'un job entier. Le résultat est dans le dossier "~/tryout".

In [ ]:
!rm -r ~/myoutput
!/usr/local/hadoop-3.3.0/bin/hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/tools/lib/hadoop-streaming-3.3.0.jar -input ~/myinput -output ~/myoutput -file /content/mapper.py  -file /content/reducer.py  -mapper 'python mapper.py'  -reducer 'python reducer.py'

Affichage du contenu du dossier "~/myoutput".

In [72]:
!ls ~/myoutput

part-00000  _SUCCESS

Affichage d'un part du résultat contenu dans le fichier de sortie. On y trouve la fréquence de chaque mot contenu dans le corpus de documents.

In [ ]:
!tail -n 30 ~/myoutput/part-00000

# Activité 2
Nous continuons à travailler avec le même fichier en entrées (purchases.txt), mais pour obtenir des résultats différents. <u>Le but est donc d’écrire vos propres Mappers et Reducers</u>.
<ol>
<li>Donner le nombre de paiement par mode de paiement.</li>
<li>Quel est le chiffre d'affaire réalisé selon les jours de la semaine ?</li>
<li>Quelle est la liste des magasins ?</li>
<li>Quel est le nombre total des ventes et la valeur totale des ventes de tous magasins confondus ?</i>
</ol>

# QUestion 1
def mapper2(file_path):
  fichier = open(file_path, 'r')
  file_line = fichier.readlines()
  fichier.close()
  result = []

  for line in file_line:
    data = line.strip().split("\t")
    if len(data) == 6:
      date, time, store, item, montant, payment = data
      result.append(payment)
  
  return result

def reducer2(file_path):
  map = mapper2(file_path)
  fic = {}
  for elm in map:
    if elm in fic:
      fic.update({elm : int(fic[elm]) + 1})
    else:
      fic.update({elm : 0})
  
  for key in fic:
    print(key, "\t", fic[key]) 

file_path = '/root/myinput/purchases.txt'  
reducer2(file_path)

**PARTIE MAPPER**

In [76]:
#!/usr/bin/python
import sys
# Mettez vos instructions ...
for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) == 6:
    date, time, store, item, amount, payment = data
    print(payment + "\t1")

In [77]:
# All cell codes are stored in a List variable "In"
with open('/content/mapper1.py', 'w') as f:
  f.write(In[76]) 
f.close()

In [79]:
!chmod u+rwx /content/mapper1.py

In [80]:
!head -10 ~/myinput/purchases.txt | python3 /content/mapper1.py

Amex	1
Visa	1
Cash	1
Discover	1
MasterCard	1
MasterCard	1
Visa	1
Cash	1
Discover	1
Visa	1

**PARTIE REDUCER**

In [81]:
#!/usr/bin/python
from operator import itemgetter
import sys
# Mettez vos instructions ...
salesTotal = 0
oldKey = None

for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) != 2:
    continue
  
  thisKey, thisSale = data
  if oldKey and oldKey != thisKey:
    print(oldKey, "\t", str(salesTotal))
    salesTotal = 0
    
  oldKey = thisKey
  salesTotal += int (thisSale)

if oldKey != None:
  print(oldKey, "\t", str(salesTotal))

In [82]:
# All cell codes are stored in a List variable "In"
with open('/content/reducer1.py', 'w') as f:
  f.write(In[81]) 
f.close()

In [83]:
!chmod u+rwx /content/reducer1.py

Test du traitement distribué sur quelques enregistrements

In [84]:
!head -50 ~/myinput/purchases.txt | python3 /content/mapper1.py | sort | python3 /content/reducer1.py

Amex 	 10
Cash 	 10
Discover 	 8
MasterCard 	 9
Visa 	 13

In [ ]:
!rm -r ~/myoutput
!/usr/local/hadoop-3.3.0/bin/hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/tools/lib/hadoop-streaming-3.3.0.jar -input ~/myinput -output ~/myoutput -file /content/mapper1.py  -file /content/reducer1.py  -mapper 'python mapper1.py'  -reducer 'python reducer1.py'

In [86]:
!ls ~/myoutput

part-00000  _SUCCESS

In [87]:
!tail -n 30 ~/myoutput/part-00000

Amex 	 826535
Cash 	 828770
Discover 	 827426
MasterCard 	 828524
Visa 	 827221

#QUESTION2 : Chiffre d'affaire réalisé selon les jours de la semaine

In [88]:
#!/usr/bin/python
import sys
# Mettez vos instructions ...
for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) == 6:
    date, time, store, item, amount, payment = data
    print(date, "\t", amount)

In [89]:
# All cell codes are stored in a List variable "In"
with open('/content/mapper2.py', 'w') as f:
  f.write(In[88]) 
f.close()

In [90]:
!chmod u+rwx /content/mapper2.py

In [91]:
!head -10 ~/myinput/purchases.txt | python3 /content/mapper2.py

2012-01-01 	 214.05
2012-01-01 	 153.57
2012-01-01 	 66.08
2012-01-01 	 493.51
2012-01-01 	 235.63
2012-01-01 	 247.18
2012-01-01 	 379.6
2012-01-01 	 296.8
2012-01-01 	 25.38
2012-01-01 	 213.88

In [92]:
#!/usr/bin/python
from operator import itemgetter
import sys
# Mettez vos instructions ...
salesTotal = 0
oldKey = None

for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) != 2:
    continue
  
  thisKey, thisSale = data
  if oldKey and oldKey != thisKey:
    print(oldKey, "\t", str(salesTotal))
    salesTotal = 0
    
  oldKey = thisKey
  salesTotal += float (thisSale)

if oldKey != None:
  print(oldKey, "\t", str(salesTotal))

In [93]:
# All cell codes are stored in a List variable "In"
with open('/content/reducer2.py', 'w') as f:
  f.write(In[92]) 
f.close()

In [94]:
!chmod u+rwx /content/reducer2.py

In [95]:
!head -50 ~/myinput/purchases.txt | python3 /content/mapper2.py | sort | python3 /content/reducer2.py

2012-01-01  	 11259.819999999998

In [ ]:
!rm -r ~/myoutput
!/usr/local/hadoop-3.3.0/bin/hadoop jar /usr/local/hadoop-3.3.0/share/hadoop/tools/lib/hadoop-streaming-3.3.0.jar -input ~/myinput -output ~/myoutput -file /content/mapper2.py  -file /content/reducer2.py  -mapper 'python mapper2.py'  -reducer 'python reducer2.py'

In [97]:
!ls ~/myoutput

part-00000  _SUCCESS

In [99]:
!tail -n 1000 ~/myoutput/part-00000

2012-01-01  	 2838071.4400000027
2012-01-02  	 2808888.290000001
2012-01-03  	 2877953.3099999856
2012-01-04  	 2829499.0200000056
2012-01-05  	 2838836.420000009
2012-01-06  	 2868368.749999997
2012-01-07  	 2843133.1600000085
2012-01-08  	 2903037.410000003
2012-01-09  	 2820050.500000003
2012-01-10  	 2815668.7099999976
2012-01-11  	 2863222.7200000184
2012-01-12  	 2837737.1500000083
2012-01-13  	 2840672.6899999925
2012-01-14  	 2844114.94
2012-01-15  	 2820928.5700000017
2012-01-16  	 2842436.4700000077
2012-01-17  	 2787413.2900000084
2012-01-18  	 2794907.0100000016
2012-01-19  	 2847904.5700000045
2012-01-20  	 2843726.099999992
2012-01-21  	 2812201.390000009
2012-01-22  	 2823239.8400000064
2012-01-23  	 2820093.1199999866
2012-01-24  	 2841298.409999998
2012-01-25  	 2854085.34
2012-01-26  	 2828425.459999995
2012-01-27  	 2846832.8199999966
2012-01-28  	 2805671.249999998
2012-01-29  	 2821061.889999988
2012-01-30  	 2853027.3700000015
2012-01-31  	 2847175.7900000084
2012-02-01  	 2818271.869999997
2012-02-02  	 2832052.30999999
2012-02-03  	 2843539.000000004
2012-02-04  	 2854907.8999999873
2012-02-05  	 2805926.4000000013
2012-02-06  	 2816196.669999993
2012-02-07  	 2879032.519999993
2012-02-08  	 2823914.000000015
2012-02-09  	 2828431.1700000064
2012-02-10  	 2833224.100000009
2012-02-11  	 2829384.3699999847
2012-02-12  	 2843125.029999978
2012-02-13  	 2841150.4399999916
2012-02-14  	 2789762.3299999856
2012-02-15  	 2829955.6499999864
2012-02-16  	 2836684.410000008
2012-02-17  	 2869789.0799999833
2012-02-18  	 2866624.0500000054
2012-02-19  	 2801188.3600000027
2012-02-20  	 2814602.3700000052
2012-02-21  	 2825531.1700000037
2012-02-22  	 2841467.519999995
2012-02-23  	 2827512.4400000083
2012-02-24  	 2832297.4999999944
2012-02-25  	 2845264.939999989
2012-02-26  	 2822453.570000006
2012-02-27  	 2820815.620000001
2012-02-28  	 2822178.2700000037
2012-03-01  	 2824020.379999994
2012-03-02  	 2837437.5299999956
2012-03-03  	 2829183.970000007
2012-03-04  	 2886362.9400000065
2012-03-05  	 2864296.0100000016
2012-03-06  	 2824459.200000001
2012-03-07  	 2815750.5700000105
2012-03-08  	 2886416.0199999907
2012-03-09  	 2833731.759999986
2012-03-10  	 2828150.8899999913
2012-03-11  	 2828334.3300000094
2012-03-12  	 2852389.4800000004
2012-03-13  	 2829343.199999992
2012-03-14  	 2844335.4000000143
2012-03-15  	 2847366.8900000043
2012-03-16  	 2849590.640000004
2012-03-17  	 2806249.480000007
2012-03-18  	 2854204.310000005
2012-03-19  	 2875794.3599999994
2012-03-20  	 2827547.9699999974
2012-03-21  	 2804320.870000012
2012-03-22  	 2832645.8199999915
2012-03-23  	 2834964.930000002
2012-03-24  	 2819628.5200000107
2012-03-25  	 2830091.2799999854
2012-03-26  	 2821986.4199999897
2012-03-27  	 2823944.98
2012-03-28  	 2833408.6900000134
2012-03-29  	 2835192.8099999893
2012-03-30  	 2801713.2000000067
2012-03-31  	 2849292.719999999
2012-04-01  	 2848320.8699999996
2012-04-02  	 2808266.7500000107
2012-04-03  	 2815273.0800000024
2012-04-04  	 2817336.8199999863
2012-04-05  	 2787923.2699999847
2012-04-06  	 2863024.799999986
2012-04-07  	 2828967.8099999884
2012-04-08  	 2874662.5899999933
2012-04-09  	 2883015.200000008
2012-04-10  	 2787326.139999999
2012-04-11  	 2830505.330000011
2012-04-12  	 2824604.939999988
2012-04-13  	 2847867.8400000082
2012-04-14  	 2872550.369999998
2012-04-15  	 2840646.899999996
2012-04-16  	 2823024.5399999935
2012-04-17  	 2851215.8300000113
2012-04-18  	 2831733.0700000213
2012-04-19  	 2842765.8600000245
2012-04-20  	 2827038.5000000037
2012-04-21  	 2822543.5699999942
2012-04-22  	 2823480.210000008
2012-04-23  	 2866959.4100000006
2012-04-24  	 2822020.7099999944
2012-04-25  	 2781882.6999999965
2012-04-26  	 2865810.1899999944
2012-04-27  	 2857332.069999997
2012-04-28  	 2825488.970000002
2012-04-29  	 2831136.2200000007
2012-04-30  	 2829026.249999992
2012-05-01  	 2805801.959999989
2012-05-02  	 2827621.939999998
2012-05-03  	 2839114.930000001
2012-05-04  	 2821736.3199999845
2012-05-05  	 2825152.66
2012-05-06  	 2845492.060000008
2012-05-07  	 2817165.959999999
2012-05-08  	 2837677.3699999982
2012-05-09  	 2822034.3700000043
2012-05-10  	 2865109.029999979
2012-05-11  	 2825465.9599999897
2012-05-12  	 2817970.9300000127
2012-05-13  	 2836629.000000007
2012-05-14  	 2873743.120000008
2012-05-15  	 2837419.9000000055
2012-05-16  	 2825584.840000009
2012-05-17  	 2861939.9999999837
2012-05-18  	 2822718.4299999974
2012-05-19  	 2839455.8900000053
2012-05-20  	 2829119.9400000004
2012-05-21  	 2820888.5799999987
2012-05-22  	 2806957.8499999903
2012-05-23  	 2860280.3099999987
2012-05-24  	 2843261.460000007
2012-05-25  	 2851231.1700000046
2012-05-26  	 2841829.260000014
2012-05-27  	 2824702.8999999873
2012-05-28  	 2831051.04999999
2012-05-29  	 2852789.2799999947
2012-05-30  	 2855275.599999997
2012-05-31  	 2817843.200000001
2012-06-01  	 2818714.77999999
2012-06-02  	 2822641.099999998
2012-06-03  	 2862944.479999986
2012-06-04  	 2809116.6499999915
2012-06-05  	 2795234.2200000063
2012-06-06  	 2800519.849999991
2012-06-07  	 2838782.1699999915
2012-06-08  	 2822847.690000016
2012-06-09  	 2850956.4400000065
2012-06-10  	 2849992.1100000036
2012-06-11  	 2827374.7299999767
2012-06-12  	 2874124.559999993
2012-06-13  	 2862036.5100000016
2012-06-14  	 2840731.6400000066
2012-06-15  	 2805270.340000006
2012-06-16  	 2861512.3299999996
2012-06-17  	 2829730.089999997
2012-06-18  	 2876280.7300000023
2012-06-19  	 2816494.7700000005
2012-06-20  	 2837960.969999992
2012-06-21  	 2822205.570000017
2012-06-22  	 2831352.1999999965
2012-06-23  	 2812260.5200000047
2012-06-24  	 2824145.490000003
2012-06-25  	 2839881.8799999906
2012-06-26  	 2836508.1500000106
2012-06-27  	 2895283.8199999915
2012-06-28  	 2823528.409999998
2012-06-29  	 2842262.6499999864
2012-06-30  	 2844827.1900000107
2012-07-01  	 2846814.670000002
2012-07-02  	 2841136.0100000077
2012-07-03  	 2835889.4499999885
2012-07-04  	 2810532.0300000026
2012-07-05  	 2860113.8900000122
2012-07-06  	 2847827.6200000113
2012-07-07  	 2809974.9400000097
2012-07-08  	 2865324.0300000017
2012-07-09  	 2872461.419999989
2012-07-10  	 2851871.3700000094
2012-07-11  	 2864528.4800000032
2012-07-12  	 2840374.5100000105
2012-07-13  	 2805829.4799999897
2012-07-14  	 2839867.379999998
2012-07-15  	 2825800.9699999946
2012-07-16  	 2839687.3600000013
2012-07-17  	 2848212.4199999953
2012-07-18  	 2789038.73000001
2012-07-19  	 2874029.9199999976
2012-07-20  	 2856955.4799999963
2012-07-21  	 2835486.5400000038
2012-07-22  	 2866588.5000000177
2012-07-23  	 2856697.3099999907
2012-07-24  	 2834861.4700000114
2012-07-25  	 2827393.0100000007
2012-07-26  	 2843577.3300000057
2012-07-27  	 2804993.1400000057
2012-07-28  	 2845372.559999997
2012-07-29  	 2805902.8099999987
2012-07-30  	 2871302.319999991
2012-07-31  	 2836859.6800000067
2012-08-01  	 2847568.159999998
2012-08-02  	 2828845.4599999967
2012-08-03  	 2843417.1000000043
2012-08-04  	 2836888.9800000098
2012-08-05  	 2806365.649999993
2012-08-06  	 2841956.3699999894
2012-08-07  	 2817234.5399999977
2012-08-08  	 2835388.9900000026
2012-08-09  	 2850555.0600000094
2012-08-10  	 2845896.1399999913
2012-08-11  	 2823824.7000000128
2012-08-12  	 2834204.929999997
2012-08-13  	 2795225.9499999834
2012-08-14  	 2836106.6799999946
2012-08-15  	 2827972.2800000054
2012-08-16  	 2820092.34999999
2012-08-17  	 2798964.340000003
2012-08-18  	 2801091.9200000064
2012-08-19  	 2799850.079999981
2012-08-20  	 2873714.0600000075
2012-08-21  	 2816840.729999987
2012-08-22  	 2834442.580000007
2012-08-23  	 2839849.7299999925
2012-08-24  	 2831923.63000001
2012-08-25  	 2845676.6500000022
2012-08-26  	 2863571.7799999854
2012-08-27  	 2841607.089999988
2012-08-28  	 2827967.600000012
2012-08-29  	 2853354.95999999
2012-08-30  	 2863556.459999979
2012-08-31  	 2816722.0599999963
2012-09-01  	 2835253.5000000033
2012-09-02  	 2854805.1399999997
2012-09-03  	 2849744.4600000014
2012-09-04  	 2858723.0200000023
2012-09-05  	 2819986.1600000034
2012-09-06  	 2824070.9999999986
2012-09-07  	 2810724.169999994
2012-09-08  	 2850960.159999993
2012-09-09  	 2829405.5400000075
2012-09-10  	 2815375.7800000017
2012-09-11  	 2860903.9700000086
2012-09-12  	 2807733.079999992
2012-09-13  	 2844087.19999999
2012-09-14  	 2833465.5799999866
2012-09-15  	 2834507.270000001
2012-09-16  	 2803191.0300000096
2012-09-17  	 2821461.219999994
2012-09-18  	 2797476.400000001
2012-09-19  	 2829213.949999989
2012-09-20  	 2805263.539999993
2012-09-21  	 2884461.270000006
2012-09-22  	 2805539.199999991
2012-09-23  	 2803432.6299999924
2012-09-24  	 2852229.270000004
2012-09-25  	 2868736.4799999944
2012-09-26  	 2852600.9700000053
2012-09-27  	 2830236.400000021
2012-09-28  	 2817401.7299999897
2012-09-29  	 2826022.580000008
2012-09-30  	 2829266.200000009
2012-10-01  	 2823390.0600000056
2012-10-02  	 2863062.129999996
2012-10-03  	 2875326.7299999935
2012-10-04  	 2838599.2099999846
2012-10-05  	 2851946.509999996
2012-10-06  	 2819528.8500000057
2012-10-07  	 2844041.3199999905
2012-10-08  	 2845098.0999999978
2012-10-09  	 2842362.2099999986
2012-10-10  	 2837676.430000015
2012-10-11  	 2787159.740000007
2012-10-12  	 2825546.0000000135
2012-10-13  	 2861407.930000007
2012-10-14  	 2827904.139999997
2012-10-15  	 2834820.659999993
2012-10-16  	 2843756.220000001
2012-10-17  	 2826212.3599999947
2012-10-18  	 2828603.059999999
2012-10-19  	 2847727.0000000093
2012-10-20  	 2859844.2199999955
2012-10-21  	 2855726.3299999963
2012-10-22  	 2838727.230000007
2012-10-23  	 2842361.2400000007
2012-10-24  	 2802978.099999992
2012-10-25  	 2827405.3000000096
2012-10-26  	 2788883.839999997
2012-10-27  	 2855644.9999999977
2012-10-28  	 2818846.669999998
2012-10-29  	 2840051.7699999935
2012-10-30  	 2791017.9400000097
2012-10-31  	 2887136.090000005
2012-11-01  	 2812350.339999984
2012-11-02  	 2878614.519999999
2012-11-03  	 2826997.450000006
2012-11-04  	 2825004.6899999906
2012-11-05  	 2850356.8999999883
2012-11-06  	 2870691.0500000007
2012-11-07  	 2833073.630000004
2012-11-08  	 2803196.020000014
2012-11-09  	 2815018.32
2012-11-10  	 2856494.720000003
2012-11-11  	 2801917.390000004
2012-11-12  	 2850618.8899999904
2012-11-13  	 2840428.6200000104
2012-11-14  	 2848495.4699999965
2012-11-15  	 2840171.679999998
2012-11-16  	 2813867.62
2012-11-17  	 2842460.910000001
2012-11-18  	 2835133.350000014
2012-11-19  	 2833737.919999991
2012-11-20  	 2819309.6200000076
2012-11-21  	 2794027.27
2012-11-22  	 2825390.0500000026
2012-11-23  	 2838856.3099999996
2012-11-24  	 2805719.540000005
2012-11-25  	 2832819.340000008
2012-11-26  	 2796242.2700000093
2012-11-27  	 2788399.540000002
2012-11-28  	 2826935.839999998
2012-11-29  	 2793468.0300000105
2012-11-30  	 2817077.6599999876
2012-12-01  	 2837807.040000009
2012-12-02  	 2837043.4099999997
2012-12-03  	 2786014.7700000084
2012-12-04  	 2816118.6699999957
2012-12-05  	 2808006.249999987
2012-12-06  	 2823690.949999996
2012-12-07  	 2806461.2500000163
2012-12-08  	 2793124.820000001
2012-12-09  	 2881642.9400000116
2012-12-10  	 2805660.1299999994
2012-12-11  	 2846968.439999999
2012-12-12  	 2805013.8600000096
2012-12-13  	 2838271.5500000007
2012-12-14  	 2871907.8700000052
2012-12-15  	 2883792.530000003
2012-12-16  	 2877150.100000006
2012-12-17  	 2832816.9200000074
2012-12-18  	 2788764.199999981
2012-12-19  	 2801325.319999995
2012-12-20  	 2818111.1999999927
2012-12-21  	 2838815.7500000126
2012-12-22  	 2860653.820000007
2012-12-23  	 2840960.31
2012-12-24  	 2852687.5099999886
2012-12-25  	 2871581.4800000065
2012-12-26  	 2824344.4199999813
2012-12-27  	 2815864.0699999984
2012-12-28  	 2848874.2600000133
2012-12-29  	 2816269.7400000067
2012-12-30  	 2785053.2899999865
2012-12-31  	 2843768.349999993

#QUESTION3 : la liste des magasins

In [101]:
#!/usr/bin/python
import sys
# Mettez vos instructions ...
for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) == 6:
    date, time, store, item, amount, payment = data
    print(store + "\t1")

In [104]:
# All cell codes are stored in a List variable "In"
with open('/content/mapper3.py', 'w') as f:
  f.write(In[101]) 
f.close()

In [105]:
!chmod u+rwx /content/mapper3.py

In [ ]:
!head -20 ~/myinput/purchases.txt | python3 /content/mapper3.py

In [111]:
#!/usr/bin/python
from operator import itemgetter
import sys
# Mettez vos instructions ...
salesTotal = 0
oldKey = None

for line in sys.stdin:
  data = line.strip().split("\t")
  if len(data) != 2:
    continue
  
  thisKey, thisSale = data
  if oldKey and oldKey != thisKey:
    print(oldKey, "\t", str(salesTotal))
    salesTotal = 0
    
  oldKey = thisKey
  salesTotal += int (thisSale)

if oldKey != None:
  print(oldKey, "\t", str(salesTotal))

In [112]:
# All cell codes are stored in a List variable "In"
with open('/content/reducer3.py', 'w') as f:
  f.write(In[111]) 
f.close()

In [109]:
!chmod u+rwx /content/reducer3.py

In [114]:
!head -500 ~/myinput/purchases.txt | python3 /content/mapper3.py | sort | python3 /content/reducer3.py

Albuquerque 	 8
Anaheim 	 8
Anchorage 	 7
Arlington 	 4
Atlanta 	 3
Aurora 	 3
Austin 	 8
Bakersfield 	 4
Baltimore 	 7
Baton Rouge 	 4
Birmingham 	 4
Boise 	 3
Boston 	 9
Buffalo 	 3
Chandler 	 4
Charlotte 	 4
Chesapeake 	 5
Chicago 	 5
Chula Vista 	 3
Cincinnati 	 4
Cleveland 	 3
Colorado Springs 	 3
Columbus 	 5
Corpus Christi 	 6
Dallas 	 4
Denver 	 4
Detroit 	 2
Durham 	 5
El Paso 	 3
Fort Wayne 	 2
Fort Worth 	 6
Fremont 	 5
Fresno 	 5
Garland 	 4
Gilbert 	 4
Glendale 	 5
Greensboro 	 10
Henderson 	 1
Hialeah 	 3
Honolulu 	 6
Houston 	 7
Indianapolis 	 5
Irvine 	 5
Irving 	 6
Jacksonville 	 5
Jersey City 	 7
Kansas City 	 7
Laredo 	 2
Las Vegas 	 4
Lexington 	 6
Lincoln 	 7
Long Beach 	 3
Los Angeles 	 3
Louisville 	 3
Lubbock 	 9
Madison 	 3
Memphis 	 5
Mesa 	 9
Miami 	 3
Milwaukee 	 3
Minneapolis 	 6
Nashville 	 8
Newark 	 4
New Orleans 	 5
New York 	 7
Norfolk 	 4
North Las Vegas 	 3
Oakland 	 4
Oklahoma City 	 4
Omaha 	 7
Orlando 	 2
Philadelphia 	 5
Phoenix 	 4
Pittsburgh 	 5
Plano 	 3
Portland 	 4
Raleigh 	 4
Reno 	 6
Richmond 	 6
Riverside 	 7
Rochester 	 3
Sacramento 	 5
Saint Paul 	 5
San Antonio 	 3
San Bernardino 	 5
San Diego 	 4
San Francisco 	 6
San Jose 	 10
Santa Ana 	 5
Scottsdale 	 6
Seattle 	 7
Spokane 	 7
St. Louis 	 1
Stockton 	 3
St. Petersburg 	 5
Tampa 	 5
Toledo 	 8
Tucson 	 4
Tulsa 	 5
Virginia Beach 	 3
Washington 	 5
Wichita 	 4
Winston–Salem 	 5

# Références
**Réalisez des calculs distribués sur des données massives** : 
https://openclassrooms.com/fr/courses/4297166-realisez-des-calculs-distribues-sur-des-donnees-massives/4308656-familiarisez-vous-avec-hadoop

**Hadoop : la nouvelle infrastructure de gestion de données** : https://juvenal-chokogoue.developpez.com/tutoriels/hadoop-fonctionnement/

**MapReduce : comment l’utiliser pour le Big Data ?** : https://datascientest.com/mapreduce

**Calcul distribué: Hadoop et MapReduce** : http://b3d.bdpedia.fr/calculdistr.html

**Language Processing and Python** : https://www.nltk.org/book/ch01.html